<launch>
        ## Upload Pluto to parameter server
        <include file="$(find ceres_description)/launch/upload_ceres.launch"/>
       
        ## Roboter Setup
        <arg name="use_volksbot_driver" default="true" />
        <arg name="use_sick_tim" default="true" />
        <arg name="use_imu" default="true" />
        <arg name="use_pico_flexx" default="true" />
 
        ## Sensors
        <include if=$(arg use_volksbot_driver) file="$(ceres_bringup)/launch/volksbot.launch" ns="volksbot"/>
        <include if=$(arg use_sick_tim) file="$(ceres_bringup)/launch/sick_tim551_2050001.launch" ns="sick_tim"/>
        <include if=$(arg use_imu) file="$(ceres_bringup)/launch/imu_single_nodes.launch"/>
        <include if=$(arg use_pico_flexx) file="$(ceres_bringup)/launch/pico_flexx_driver.launch"/>
</launch>
