<launch>
        <include file="$(find volksbot_driver)/launch/volksbot.launch" ns="volksbot"/>
        <include file="$(find sick_tim)/launch/sick_tim551_2050001.launch" ns="sick_tim"/>
        <include file="$(find phidgets_imu)/launch/imu_single_nodes.launch"/>
        <include file="$(find pico_flexx_driver)/launch/pico_flexx_driver.launch"/>
</launch>
